*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --clr-primary-Red: hsl(0, 78%, 62%);
    --clr-primary-Cyan: hsl(180, 62%, 55%);
    --clr-primary-Orange: hsl(34, 97%, 64%);
    --clr-primary-Blue: hsl(212, 86%, 64%);

    --clr-neutral-Grey500: hsl(234, 12%, 34%);
    --clr-neutral-Grey400: hsl(212, 6%, 44%);
    --clr-neutral-White: hsl(0, 0%, 100%);

    --fs-root: 15px;
}

html {
    font-size: var(--fs-root);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* Movil 375px x 1450px */
body {
    color: var(--clr-neutral-Grey500);
}

main {
    width: 85%;
    margin: 2.5rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-main {
    /* 24px / 16 = 1.6em */
    font-size: 1.6em;
    font-weight: 200;
    margin-bottom: 1em;
    color: var(--clr-neutral-Grey500);
}

.title-main>strong {
    font-weight: 600;
}

.description-main {
    text-align: center;
    margin-bottom: 2em;
}

.container {
    /* 13px / 15 = 866em */
    font-size: .867em;
}

.card {
    background: var(--clr-neutral-White);
    max-width: 306px;
    /* 30px/ 13 = 2.31  */
    margin-bottom: 2.31em;
    border-radius: 6px;
    padding: 25px 25px 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-cyan {
    border-top: 4px solid var(--clr-primary-Cyan);
}

.card-red {
    border-top: 4px solid var(--clr-primary-Red);
}

.card-orange {
    border-top: 4px solid var(--clr-primary-Orange);
}

.card-blue {
    border-top: 4px solid var(--clr-primary-Blue);
}

.card-title {
    font-weight: 600;
}

.card-subtitle {
    margin-bottom: 2.5rem;
}

.wrapp-icon {
    display: flex;
    justify-content: end;
    padding-bottom: 2.5rem;
}

.card-icon {
    width: 55px;
}

@media (min-width: 32.6rem) {

    .title-main {
        width: 70%;
    }

    .description-main {
        width: 80%;
    }

    .title-main>strong {
        display: block;
    }
}

@media (min-width: 56.6rem) {

    .header {
        margin-bottom: 2rem;
    }

    .title-main {
        width: 70%;
    }

    .description-main {
        width: 55%;
    }

    .container {
        /* 13px / 15 = 866em */
        font-size: .867em;
        max-width: 996px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.5em;
    }

    .grid-1 {
        grid-column: 1;
        grid-row: 1;
    }

    .grid-4 {
        grid-column: 2;
        grid-row: 1;
    }
}


@media (min-width: 73.3rem) {


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-main {
        width: 70%;
    }

    .description-main {
        width: 55%;
    }

    .container {
        /* 13px / 15 = 866em */
        font-size: .867em;
        max-width: 996px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.5em;
    }

    .grid-1 {
        grid-column: 1;
        grid-row: 1 / 3;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .grid-4 {
        grid-column: 3;
        grid-row: 1 / 3;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .flex {
        display: flex;
        justify-content: center;
    }

}

/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */